---
title: Pictures
layout: default

pictures:
  ViewfromGTHill2: "Low Hall in its valley setting"
  Ladyssmockinthepiece: "Barbecue in the flower meadow"
  '183955491_de9690f3ca': "Old features"
  PC310152: "Low Hall in winter"
  Northbedroom: "A corner of the twin bedroom"
  brackenloftdoublebed4: "The bracken loft"
  DuddonView: "The banks of the Duddon"
  shepherdandhisflock: "Local shepherd and his flock"
  Ratty: "Ravenglass narrow gauge railway"
  romanfort: "The Roman fort"
  scafellinwinter: "Scafell in winter"
  piersgillfromtop: "The ascent of Scafell Pike"
  Gardenwithwildflowers: "Garden with wild flowers"
  '183949591_503c9e7bbf': "Seathwaite Tarn in the high fells"
  besidetheabandonedcawmine: "The Duddon Valley from the summit of Caw"
  SheeponWallowbarrow: "Hall Dunnerdale from a nearby crag"
  Waterfall: "Tumbling beck"
  caw: "Caw (1800 ft) from Low Hall garden"
---

<h2>Pictures</h2>

{% for picture in page.pictures %}
  {% assign loopindex = forloop.index | modulo: 3 %}

  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}

      <div class="col-xs-12 col-sm-4">
        <a href="/images/pics/{{ picture[0] }}.jpg">
          <img src="/images/pics/{{ picture[0] }}_thumb.jpg">
          <p class="caption">{{ picture[1] }}</p>
        </a>
      </div>

  {% if loopindex == 0 %}
    </div>
  {% endif %}
{% endfor %}

