<table cellspacing="0" cellpadding="3" width="100%" align="center" border="0">

  <TR>
    <TD colspan=3>
      <h2 align="right">What to do</h2>
    </TD>
  </TR>


  <TR>
    <TD colspan=3>

      <TABLE width="100%" cellpadding=0 cellspacing=0>
        <TR>
          <TD align=center>
            <%= image_tag('topofskafell.jpg', style: { width: 650 }) %>
            <H5>At the top of Scafell Pike, England's highest peak</H5>
          </TD>
        </TR>
      </TABLE>

    </TD>
  </TR>
  <tr valign="top">
    <td align=center>
      <p>
        <%= image_tag('lowlevelwalk001.jpg', style: 'width: 280px') %>
      </p>
      <H5>Low fell walking</H5></td>
    <td width="30"></td>
    <td>
      The Duddon Valley is one of the least known parts of the Lake District: a traditional
      farming valley of green fields, dry stone walls and grazing sheep.
      There are few outsiders, but an abundance of natural
      features: high fells, rocky crags, waterfalls, the meandering
      <a target="_blank" href="http://en.wikipedia.org/wiki/River_Duddon">Duddon</a>
      , even a <a target="_blank" href="http://en.wikipedia.org/wiki/Hardknott_Roman_Fort">Roman
      fort</a>.

      <p align="left">Low Hall offers a wide range of activities from the doorstep:
        strolls along the Duddon and up to the pub in
        Seathwaite, low fell walking along pack horse trails, or high fell
        walking up nearby Caw Fell (nearly 2000 ft) and the
        <a target="_blank" href="http://en.wikipedia.org/wiki/Old_Man_of_Coniston">Old Man of
          Coniston</a>
        (2600 ft).
        The house is within an hour's drive of the big Lakeland peaks: Scafell,
        Helvellyn, Langdale Pikes etc.
      </p>
      <P>The Duddon Valley also offers rock climbing, swimming, canoeing (graded 3 with
        some easy 4), fishing and bird-watching.
      </P>
    </td>
  </tr>
</table>

<TABLE width="100%" cellpadding=3 cellspacing=3>
  <TR>
    <TD>
      <p>Local outings include
        <a target="_blank" href="http://www.muncaster.co.uk/web2006/index/">Muncaster</a> (castle
        tour, rhododendrons, and an owl centre), a ride on the Ravenglass narrow gauge railway,
        <a target="_blank" href="http://www.ravenglass-railway.co.uk/">"Ratty"</A>,
        <a target="_blank" href="http://www.wordsworth.org.uk/Default.asp?Page=6">
          Wordsworth's Dove Cottage at Grasmere</A>, and
        <a target="_blank" href="http://www.visitcumbria.com/amb/hilltop.htm">Beatrix Potter's house
        </a> at Sawrey. <a href="https://www.nationaltrust.org.uk/sizergh">Sizergh Castle</a> and
        <a href="https://www.holker.co.uk/">Holker Hall</a> are also not far away. John Ruskin's
        house at <a target="_blank" href="http://www.brantwood.org.uk/">Brantwood</A>
        can be visited by a ride on the steam launch Gondola across Lake Coniston.
      </p>
      <p>Children's outings include <a target="_blank"
                                       href="http://www.hop-skip-jump.com/index.htm">The World of
        Beatrix Potter </a> in Ambleside, the
        <a target="_blank" href="http://www.aquariumofthelakes.co.uk/">Aquarium
          of the Lakes</a> at Newby Bridge, and
        <A HREF="http://www.wildanimalpark.co.uk">Dalton Zoo</a>.
      </p>
    </TD>
  </TR>
</TABLE>

<TABLE width="100%" cellpadding=0 cellspacing=0>
  <TR>
    <TD align="center">
      <%= image_tag('wellearnedrestinthepub.jpg', style: 'width: 650px') %>
      <H5>The garden at the local pub</H5>
    </TD>
  </TR>
</TABLE>


