<table cellspacing="0" cellpadding="3" width="100%" align="center" border="0">
  <tbody>

  <tr valign="top">
    <td>
      <p>
      <center>
        <%= image_tag('183936277_0c280419be.jpg', style: 'width: 420px') %>
        <H5>The view south of Low Hall<H5>
      </CENTER>
      </p>
    </td>
    <td width="30"></td>
    <td>
      <h2 align="right">Contact</h2>
      <p> Low Hall is available by private
        arrangement with its owners for &#163;120 a night, plus &#163;20 per night if the
        bracken loft is required.<br><br>
        For more details, and to check availability, please contact<br>
        <br>Venetia Lascelles
        <br>Flat 1
        <br>2 St. Albans Road
        <br>London
        <br>NW5 1RD
        <br>Tel: 0207 485 0151
        <br><br><a href="mailto:netia@netialascelles.com">netia@netialascelles.com</a><br></p>
    </td>
  </tr>
  </tbody>
</table>
