<table cellspacing="0" cellpadding="3" width="100%" align="center" border="0">
  <tbody>

  <tr valign="top">
    <td colspan=3>
      <h2 align="right"> Location </h2>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <p>
        <%= image_tag('lowhallmap.jpg') %>
      </p>
    </td>
    <td width="30"></td>
    <td>
      <p align="left">Low
        Hall lies in the Duddon Valley in the
        south central part of the
        <a target="_blank" href="http://en.wikipedia.org/wiki/Lake_District_National_Park">
          Lake District National Park</a>.
      </p>

      <p>The nearest houses are half a mile away in the hamlet of Hall Dunnerdale.
        The village shop in Ulpha (one mile away) sells newspapers
        and basic essentials. Bulk groceries may be ordered there in advance for collection.
        <a target="_blank" href="http://www.broughton-in-furness.co.uk/">Broughton</a> (20 mins by
        car) has
        several shops with an excellent grocer, off-licence, mountain shop and good pubs.
        There are supermarkets further afield.
      </p>
      <P>
        Travel time from London to Low Hall (275 miles) is about five hours.

        <%---
      <p align="left"><a
        target="_blank"
        href="http://maps.google.co.uk/maps?f=q&amp;hl=en&amp;q=hall+dunnerdale&amp;ie=UTF8&amp;ll=54.346752,-3.217964&amp;spn=0.03477,0.11879&amp;om=1">Google
        Map</a></p>
      <p align="left"><a
        target="_blank"
        href="http://www.multimap.com/map/browse.cgi?client=public&amp;X=320000.614937309&amp;Y=490000.592128252&amp;gride=321141.614937309&amp;gridn=495118.592128252&amp;scale=200000&amp;coordsys=gb&amp;db=freegaz&amp;lang=&amp;inmap=&amp;table=&amp;ovtype=&amp;keepicon=true&amp;localinfosel=&amp;local=&amp;kw=&amp;srec=0&amp;mapsize=big&amp;db=freegaz&amp;rt=">Multimap</a>
      </p>
    </td>
  </tr>
  </tbody>
</table>
<p>&nbsp;</p>
     
