Click on the pictures for a large version<BR><BR>

<table cellspacing="0" cellpadding="3" width="80%" align="center" border="0">

  <tr valign="top">
    <%
      {
        ViewfromGTHill2: "Low Hall in its valley setting",
        Ladyssmockinthepiece: "Barbecue in the flower meadow",
        '183955491_de9690f3ca' => "Old features",
        PC310152: "Low Hall in winter",
        Northbedroom: "A corner of the twin bedroom",
        brackenloftdoublebed4: "The bracken loft",
        DuddonView: "The banks of the Duddon",
        shepherdandhisflock: "Local shepherd and his flock",
        Ratty: "Ravenglass narrow gauge railway",
        romanfort: "The Roman fort",
        scafellinwinter: "Scafell in winter",
        piersgillfromtop: "The ascent of Scafell Pike",
        Gardenwithwildflowers: "Garden with wild flowers",
        '183949591_503c9e7bbf' => "Seathwaite Tarn in the high fells",
        besidetheabandonedcawmine: "The Duddon Valley from the summit of Caw",
        SheeponWallowbarrow: "Hall Dunnerdale from a nearby crag",
        Waterfall: "Tumbling beck",
        caw: "Caw (1800 ft) from Low Hall garden",
      }.each_with_index do |(k, v), i| %>
      <td>
        <center>
          <a href="<%= image_path("pics/#{k}.jpg")%>">
            <%= image_tag("pics/#{k}_thumb.jpg") %>
          </a>
          <H5>&nbsp;&nbsp;<%= v %>&nbsp;&nbsp;</H5></center>
      </td>

      <% if ((i + 1) % 3 == 0) %>
        </TR>
        <TR valign="top">
      <% end %>
    <% end %>


    <td></td>
    </tr>
    </table>


