BODY {
  background-repeat: no-repeat;
  font-family: Verdana;
  background-position: top;
  background: #FFFFDD;
  margin-top: 20px;
}

TD.links {
  font-size: 12pt;
  text-decoration: none;
  text-align: right;
}

TD.lowhall {
  padding-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32pt;
  font-weight: bold;
}

TD.headergrad {
  background: #E4E495;
  border: solid 1px #aaa;
}

TR.headermain {
  background: #99CC99;
  border: solid 1px #aaa;
}

P.BottomAddress {
  font-size: 11px;
  text-align: center;
}

A {
  text-decoration: none;
  color: #0B2F7F;
}

A:visited {
  text-decoration: none;
  color: #0B2F7F;
}

H1 {
  font-size: 36pt;
}

img {
  display: block;
  margin: auto; /* Centre images */
}

.hidden {
  display: none;
}

.caption {
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
}

/* Bootstrap updates */
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

h2 {
  margin-top: 0px;
}
