<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lowhall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/application.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

  <script>
    var reveal = function() {
      var main = document.querySelector('#main-content');
      main.classList.remove('hidden');
      var ip = document.querySelector('#incorrect-password');
      ip.classList.add('hidden');
    };

    var cookie_password = function() {
      var cookie = document.cookie || "";
      return cookie.substring(cookie.indexOf("password=")).split(";")[0].substring(9);
    };

    var key = CryptoJS.enc.Hex.parse("000102030405060708090a0b0c0d0e0f");
    var iv = CryptoJS.enc.Hex.parse("101112131415161718191a1b1c1d1e1f");

    // The most basic of all systems, just for fun.
    function prompter(action) {
      var input = prompt("Enter password:");

      if (input) {
        var hashed = CryptoJS.AES.encrypt(input, key, { iv: iv }).toString();

        var r = "/ek+88P9pH6hrLRqARMnPA==";
        if (hashed === r) {
          document.cookie = "password=" + input + "; max-age=86400; path=/;"; // One day
          action();
        }
      }
    }
  </script>
</head>
<body>

<div class="container hidden" id="main-content">
  <div class="header headermain">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="lowhall-title">Low Hall</div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table width="100%" border="0" style="margin-top: 8px; margin-left: 10px;">

          <tr><!-- Row 1 -->
            <td class="links" width="33%"><a
              href="/">Home</a></td><!-- Col 1 -->
            <td class="links" width="33%"><a
              href="activities">What to do</a></td><!-- Col 2 -->
            <td class="links"><a
              href="location">Location</a></td><!-- Col 3 --></tr>
          <tr><!-- Row 2 -->
            <td class="links" width="33%"><a
              href="accommodation">Accommodation</a></td><!-- Col 1 -->
            <td class="links" width="33%"><a
              href="pictures">Pictures</a></td><!-- Col 2 -->
            <td class="links"><a
              href="contact">Contact</a></td><!-- Col 3 --></tr>
        </table>
      </div>
    </div>
  </div>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr height="3">
      <Td colspan=2>
      </TD>
    </tr>
    <tr>
      <Td colspan=2 class="headergrad">
        &nbsp;
      </TD>
    </tr>
  </table>
  <BR>
  {{ content }}
</div>

<h3 id="incorrect-password" style="text-align: center">Incorrect password</h3>

<script>
  if (!!cookie_password()) {
    reveal();
  } else if (window.location.pathname.indexOf("guide") === -1){
    prompter(reveal);
  }
</script>

<h6 style="text-align: center">Copyright Low Hall</h6>

</body>
</html>
